{%load static%}


<nav>
    <div class="nav-i">
        <div class="cart_n btn btn-2  " id="cart_n" data-content="q"><a  href="{% url "cart_summary" %}" class="btn btn-1 "  id="cart_n_a">cart {{ cart | length}} </a></div>

    <div class="nav-el">

        {% if user.is_authenticated  %}
        <ul class="reg">
            <li class="btn btn-1 active"><a href="{% url 'login_U' %}" class="btn btn-1 active" >about_me</a></li>
            <li class="btn btn-1 active"><a href="{% url 'logout_U' %}" class="btn btn-1 " >logout</a></li>
            
        </ul>
        {% else %}
        <ul class="reg">
            <li class="btn btn-1 active"><a href="{% url 'login_U' %}" class="btn btn-1 active" >login</a></li>
            <li class="btn btn-1 active"><a href="{% url 'register' %}" class="btn btn-1 " >register</a></li>
            
        </ul>
        {% endif %}
      
    <ul class="nav-item btn  btn-1">
        <li><a href="vape" class="btn btn-1 ">vape</a></li>
        <li><a href="liquid" class="btn btn-1 ">liquid</a></li>
        <li><a href="smoke" class="btn btn-1 ">cigar</a></li>
        <li><a href="disposable" class="btn btn-1 ">pod</a></li>
        <li><a href="/" class="btn btn-1  active">smoke</a></li>
    </ul>

    </div>

    </div>

    <div class="search">
        <form action="" class="search-form" mrthod='GET'>
            <input type="submit" name="s_search" id="s_search" value="search" class="btn btn-2 active">
            <input type="search" name="search" id="search" class="btn btn-2 active">
          
            <select name="category" id="category" class="btn btn-1 active">
                <option value="" ></option>

                {% for category in  categorys %}
                    

                {% comment %} <option value={{category.name}} ><li><a href={% url 'category' category.name %} > {{category.name}} </a> </li></option> {% endcomment %}
                {% endfor %}
                <option value={{categoryx.name}} selected><a href=""> {{categoryx.name}} </a> </option>

             </select>
            {%for msg in messages %}
                     <h2 class="btn btn-2">{{msg}}</h2>
            {%endfor%}
            <div class="category btn btn-1">menue
            <ul class="c_ul btn btn-2">
                <li  > <a  href="{% url 'home' %}" class="btn btn-1 active" > all </a>  </li>
                {% for category in  categorys %}
    
                <li><a href={% url 'category' category.name %}  class="btn btn-1"> {{category.name}} </a> </li>
                {% endfor %}                
            </ul>
        </div>
        </form>
    </div>
</nav>
{% comment %} <div class='home ' id='try'>hide me</div> {% endcomment %}

<script>
    var search = $("#search");
    var htmlx = "";
    var content = $("#try").html();
    var searchval = search.val().trim();
    console.log(content);
$(document).ready(function(){
    if(htmlx == ""){
        console.log("e");
        content = $("#try").html();
        {% comment %} console.log(content); {% endcomment %}

    {% comment %} $('#try').html("<h1 class='btn btn-1 active'>hi</h1>"); {% endcomment %}
    }
    search.keyup(function(){
        
        searchval = search.val().trim();
        console.log(search.val());
        if (searchval != "" ){
            htmlx = "";
    $.ajax({
        type:'POST',
        url:'{% url 'home' %}',
        data:{
            search: String(searchval),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },                         
        success:function(json){                                                      
            //console.log(json)
           // console.log(json.qty);
          //  console.log(json.cart_item+"jsoooon"); 
            console.log(json.products_l) ;
            console.log((json.product_s)) ;

try{
            $.each(json.product_s, function(key, value) {
                
                {% comment %} html += `${value.id }'<br/>' ${value.name}` {% endcomment %}
                    {% comment %} console.log(value.image) {% endcomment %}
                {% comment %} console.log(htmlx); {% endcomment %}
                {% comment %} value.id = 1 ; {% endcomment %}
                
                {% comment %} const valueid = int(value.id); {% endcomment %}
                var valid = 1 ;
                htmlx += `<div class="card" id="card" value={{product_s}}>
                    <div class="car_cont" id="card_cont">    
                    <img src='/media/${value.image}' alt="" id="img_src">
                    <h2 class="c_h" id="c_h">${value.price}EG</h3>
                    <p class="c_d" >${value.description}</p>
                    <div class="btn-box">
                        <button type="button" value="${value.id}"  id="add-cart"  class="btn btn-1 btn-2 rotation"> add to cart </button>
                        
                        <a href='/product/${value.id}' class="btn btn-2 btn-1 active">view</a>
                    </div>
                </div>
                </div>`
                console.log("And");
                
                
            } );
        }catch(err){console.log("err.errmsg")}
            if(htmlx != ""){
            console.log("notempty");
            $('#try').html(htmlx);
            const d = document.querySelectorAll(".rotation");
                let cart = document.getElementById('cart_n');
                let in_cart_a = {{ i | safe }};
                d.forEach(link => {
                    event.preventDefault();
                    //with js loop and get 
                        for(i=0 ; i < in_cart_a.length ; i++){
                            //djinja chek for element 
                           if ( link.value == in_cart_a[i] ){
                                console.log(i,in_cart_a[i]);
            
                           link.classList.remove("rotation");
                           link.textContent = " remove from cart  ";
             
                           }
                        }
                
                            link.addEventListener("click", (e)=>{
                                e.preventDefault();
            
                                if(in_cart_a.includes(link.value) == false){
                                console.log("fund");
                                    $.ajax({
                                        type:'POST',
                                        url:'{% url 'cart_add' %}',
                                        data:{
                                            product_id: link.value,
                                            csrfmiddlewaretoken: '{{ csrf_token }}',
                                            action: 'post'
                                        },                         
                                        success:function(json){                                                      
                                            console.log(json.qty);
                                            console.log(json.cart_item+"jsoooon");
                                         
                                            cart.setAttribute('data-content', json.qty); 
                                            in_cart_a.push(link.value);
                                        },
                                        error: function(xhr,errmsg,err){
                                            console.log("error adding");
                                        }
                                        });
                                        
                                link.classList.toggle("rotation");
                                link.textContent = " in cart ";
                                $('#cart_n_a').addClass("active");
                                {% comment %} {% endif %} {% endcomment %}
                                    }else if ( in_cart_a.includes(link.value) == true){                                         
                                {% comment %} {%    if linke.value in i  %}  {% endcomment %}
                                console.log("if work probably");
                                $.ajax({
                                    url: '{% url 'cart_delete'   %}',
                                    type:'POST',
                                    data:{
                                        product_id: link.value,
                                        csrfmiddlewaretoken: '{{ csrf_token }}',
                                        action: 'post'
                                    },             
                                     success:function(json){                                                      
                                            //console.log(json)
                                            console.log("deleted")
                                            cart.setAttribute('data-content', json.qty); 
                                            console.log("indexofdeleteed"+in_cart_a.indexOf(link.value))
                                            in_cart_a.splice(in_cart_a.indexOf(link.value),1);  
            
                                            console.log("new" + in_cart_a);                                                      
                                        },
                                        error: function(xhr,errmsg,err){
                                            console.log(" error deleteing");
                                        }
                                });
                                
            
                                    link.classList.toggle("rotation");
                                    link.textContent = "  to cart ";
                                    $('#cart_n_a').addClass("active");         
                            }                                 
            
                                    });
            
                    });
            
              
            }
            if(htmlx == ""){
                console.log("e");
            {% comment %} $('#try').html("<h1 class='btn btn-1'>hi</h1>"); {% endcomment %}
            }
            {% comment %} console.log(html); {% endcomment %}
             {% comment %} json.products_l; {% endcomment %}
             {% comment %} json.product_s; {% endcomment %}


           
            {% comment %} {{ product }} = {{ product_s }} {% endcomment %}
            {% comment %} console.log(json.product)      ; {% endcomment %}

           // console.log(json.p_d )      ;

            {% comment %} cart.setAttribute('data-content', json.qty);  {% endcomment %}
            {% comment %} in_cart_a.push(link.value); {% endcomment %}

      
        },
        error: function(xhr,errmsg,err){
            console.log("error adding");
        }
        });
    }
    if(searchval == ""){
        {% comment %} $('#try').html("<h1 class='btn btn-1'>hi</h1>"); {% endcomment %}
        $('#try').html(content);

        htmlx = "";
    }
    });
});
</script>
<script>
  
    window.addEventListener("load", (event) => {
        if( in_cart_a.length > 0){
            console.log("item  in card");
            $('#cart_n_a').addClass("btn btn-1 active");
            console.log(in_cart_a.length + "l");
           
        } 
});       
console.log("page is fully loaded");

</script>