{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="home product_view" id="cart_sec">

<div class="card card_rotation " id="card_rotation">
    <div class="car_cont "> 
        {% if product.image2.url  != "" %}   
       <img src="{{product.imageURL}}" alt="" id="img_src" value="{{product.image2.url}}">
       {% else %}
       <img src="{{product.imageURL}}" alt="" id="img_src">
       {% endif %}
       <h2 class="c_h">${{product.price}}EG</h3>
       <p class="c_d">{{product.description}}</p>
        <button class="right" id="right"></button>
        <button class="left" id="left"></button>      
    </div>
</div>

<div class=" descreption ">

    <ul class="c_d">
<!-- <li>id:{{product.id}}</li> -->
<li>name:{{product.name}}</li>
<li>description:{{product.description}} </li>
<li>price:{{product.price}}</li>
 
{% comment %} product qty:  <select class="btn" id="qty-cart" > {% endcomment %}
   <li> product qty:  <select class="btn" id="select{{product.id}}" >
    {% for key,value in quantities.items %}
    {% if key == product.id|slugify %}
        <option selected >{{value}}</option>
    {% endif %}
    {% endfor %}
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
   </select></li>
   
</ul>
<div class="btn-box">
    <button type="button" value="{{product.id}}"  id="add-cart"  class="btn btn-1 btn-2 rotation update-cart " data-action='add' data-product={{product.id}}> add to cart </button>
    {% comment %} <a href="{% url 'product' product.id %}" class="btn btn-2 btn-1 active">view</a> {% endcomment %}
    <button type="button" value="{{product.id}}" data-index="{{product.id}}"  class="btn btn-1 update-carta" data-action='update' > update </button>
   </div>
</div>

</section>

<script>
var page = "{{page}}";
//rotate card and change img
    const card_rotation = $("#card_rotation");
    const right = $("#right");
    const left = $("#left");
    let xtime;
    var img_src = $("#img_src");
    var img_src_src = img_src.attr('src');
    var img_src_value = img_src.attr('value');
    
    console.log(img_src_src + "source");
    right.click( ()=> {    
        console.log("right clicked");
        card_rotation.toggleClass("active");
        setTimeout(alerttime,500);  
        //     
    });
    left.click( () => {       
        //clearTimeout(xtime);//will clear the timer 
        setTimeout(alerttime,700);
        console.log('left clicked');
        card_rotation.toggleClass("active");
    });
    function alerttime(){
        var src = (img_src.attr('src') === img_src_src)
        ? img_src_value
        : img_src_src ;
     $("#img_src").attr('src', src);

}
</script>
  <script >
///////////////////////////////////////////////////////////////
    const d = document.querySelectorAll(".rotation");
    let carts = document.getElementById('cart_n');
    let in_cart_a = {{ i|safe }};
    //var cart = JSON.parse(getCookie('cart'))
    console.log(in_cart_a.length,"inL")
    var urlx = "{% url 'cart_add' %}"
    var urld = "{% url 'cart_delete' %}"
    var urlu = "{% url 'cart_update' %}"
    console.log(urlx)
</script>
<script  type="text/javascript" src="{% static 'js/process.js' %}" ></script>

<script type="text/javascript" src="{% static 'js/nav.js' %}" ></script>
  

{% endblock %}
