{% extends "base.html" %}  
{% load static %}

{%block content %}      
<section class="home" id="try">
  {% comment%}
<!-- {% for product in products %} -->
{% endcomment %}
{% for product in item %}
<div class="card"  id="car_contv">
  <div class="car_cont">    
    <img src="{{product.imageURL}}" alt="">
    <h2 class="c_h">${{product.price}}EG</h3>
    <p class="c_d menuev " id="c_dmv">{{product.name}}<br/>{{product.description}}</p>
    <p class="c_d menuev d"  id="c_dmv">{{product.description}}</p>
    <p class="c_d menuev ">{{product.Nic}}</p>

    <div class="btn-box menuev">
    <select class="btn select" id="select{{product.id}}" >
          {% for key,value in quantities.items %}
          {% if key == product.id|slugify %}
              <option selected >{{value}}</option>
          {% endif %}{% endfor %}
            <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          
          </select>
      <button type="button" value="{{product.id}}"  id="add-cart"  class="btn btn-1 btn-2 rotation update-cart" data-action='add' data-product={{product.id}}>add to cart </button>  
      <a href="{% url 'product' product.id %}" class="btn btn-2 btn-1 active" id="viewel">view</a>
    </div>
  </div>
</div>
{% endfor %}
  
</section>
<script >
///////////////////////////////////////////////////////////////
    // console.log(urlx)
    var page = "{{page}}";
    const d = document.querySelectorAll(".rotation");
    let carts = document.getElementById('cart_n');
    let in_cart_a = {{ i|safe }};
    //var cart = JSON.parse(getCookie('cart'))
    console.log(in_cart_a.length,"inL")
    var urlx = "{% url 'cart_add' %}"
    var urld = "{% url 'cart_delete' %}"
    // var c_ur = "{% url 'category' '*' %}"
    console.log("CAT","{{category}}")
    var c_ur = "{% url 'category' category %}"
    if(page == "CATEGORY_M"){
      c_ur = "{% url 'C_menue' category %}"
    }

  


</script>



{%endblock%}

