{% extends "base.html" %}  
{% load static %}
{%block content %}      

 <section class="home" id="try">
  {% comment "this was the original welcome message" %}

<!-- {% for product in products  %} -->
{%endcomment%}
{% for product in item  %}

    <div class="card">
        <div class="car_cont">    
          <img src="{{product.imageURL}}" alt="">
          <h2 class="c_h">${{product.price|floatformat:2}}EG</h3>
          <p class="c_d">{{product.description}}</p>
          <div class="btn-box">
          <select class="btn select" id="select{{product.id}}" >
          {% for key,value in quantities.items %}
          {% if key == product.id|slugify %}
              <option selected >{{value}}</option>
          {% endif %}{% endfor %}
            <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          
          </select>
          <button type="button" value="{{product.id}}"  id="add-cart"  class="btn btn-1 btn-2 rotation update-cart" data-action='add' data-product={{product.id}}> add to cart </button>
          <a href="{% url 'product' product.id %}" class="btn btn-2 btn-1 active">view</a>
        </div>
    </div>
  </div>
{% endfor %}
<br>

</section>
<nav class="footer pagintor" > 

  <ul class="btn btn-2">

    <!--
    <li class="btn btn-2 ">
      Page {{item.number}} of {{item.paginator.num_pages}}
      </li>
    -->
  {%if item.has_previous%}
  <li class="btn btn-1 "><a href="?page=1" class="btn btn-1 ">&laquo First</a></li>
  <li class="btn btn-2 "><a href="?page={{item.previous_page_number}}"  class="btn btn-1 "> previous </a></li>
  
  {% endif %}

      {%for i in nums%}
      {% if forloop.counter == item.number %}
      <li class="btn btn-2 "><a href="?page={{  forloop.counter  }}"  class="btn btn-1 btn-3 active "> {{  forloop.counter  }}</a></li>
      {%else%}
      <li class="btn btn-2 "><a href="?page={{  forloop.counter  }}"  class="btn btn-1 btn-3  "> {{  forloop.counter  }}</a></li>
      {% endif %}

      {% endfor %}
  {%if item.has_next %}
  <li class="btn btn-2 "><a href="?page={{item.next_page_number}}"  class="btn btn-1 ">next</a></li>
  <li class="btn btn-1 "><a href="?page={{item.paginator.num_pages}}"  class="btn btn-1 ">Last &raquo </a></li>
  
  {% endif %}
</ul>
</nav>
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>

   <script >
   var csrftoken = getToken('csrftoken');
///////////////////////////////////////////////////////////////
    const d = document.querySelectorAll(".rotation");
    let carts = document.getElementById('cart_n');
    let in_cart_a = {{ i|safe }};
    //var cart = JSON.parse(getCookie('cart'))
    console.log(in_cart_a.length,"inL")
    var urlx = "{% url 'cart_add' %}"
    var urld = "{% url 'cart_delete' %}"
    console.log(urlx)
    var page = "HOME";
</script>
<script  type="text/javascript" src="{% static 'js/process.js' %}" ></script>


{%endblock%}


