{% extends "base.html" %}
{% block content  %}
<section class="login" >
    <fieldset class="yasser_login">
<form action="{% url 'login_U'  %}" method="POST" >
    {% csrf_token %}
    {%for msg in messages %}
        <h2>{{msg}}</h2>
    {%endfor%}
    <legend>login </legend>
    <p>
    <label for="username" >username</label>
    <input type="text" name="username" id="username" placeholder="username" autofocus>
    </p>
    <p class="vp">
    <label for="pass" >password</label>
    <input type="password" name="pass" id="pass" placeholder="password"> 
    <button  id="view"  class= "btn btn-1 " > </button>
    </p>
    <button type="submit" name="login" value="login"  class="btn btn-1">login</button>
    </form>
    
    </fieldset>
</section>

<script>
    var page = "LOGIN";
    $("#hs").html("") ;
    $("#cart_n").hide();
    $(".movie").html("");
    $(".movie").hide();
    let view = false;
   const chang = $("#view") 
    chang.click( (e)=> {
        console.log("clic")
    e.preventDefault();
    chang.toggleClass('open')

    let x = $("#pass");
    if (view === false){
    x.attr("type","text");
    view = true;
    }
    else if (view === true)
    {
    x.attr("type","password");
    view = false;
        
    }
});
    //


</script>
{% endblock  %}
