{% extends "base.html" %}


{% block content  %}


<section class="register yasser_login" >

    <fieldset class="register">
<form action="{% url 'register'  %}" method="POST" >

    {% csrf_token %}
    {%for msg in messages %}
        <h2>{{msg}}</h2>
    {%endfor%}
    <legend>register </legend>
    <!-- <div class="btn btn-1 btn-2 active"> -->
        {%for e in form%}
        {% if e.errors %}
        <li class="errorlist" style="display:list-item;"> {{e.label_tag}} {{ e.errors|striptags }}</li>
        {% endif %}
        {% endfor %}
        {{form.as_p}}
    <!-- </div> -->
   {% for field in form %}
    {% if field.errors %}
  
    <script>
        var xname = '{{field.name}}'
        console.log("XNAME",xname)
        xl = document.getElementsByName(xname)
       
        xl.forEach(element => {
            element.classList.add("active");
        
        });     
    </script>
    {% endif %}
{% endfor %}
    


    {% comment %} <p>
        <label for="username" >username</label>
        <input type="text" name="username" id="username" placeholder="username" autofocus>
    </p> 
    <p>
        <label for="email" >email</label>
        <input type="text" name="email" id="username" placeholder="username" autofocus>
    </p>
    <p>
    <label for="phone" >phone</label>
    <input type="text" name="phone" id="phone" placeholder="username" autofocus>
    </p>
    <p>
    <label for="pass" >password</label>
    <button id="view" onclick="changattr()" class= "btn btn-1 "> view password </button>
    <input type="password" name="pass1" id="pass1" placeholder="password">
    </p>
    <p>
        <label for="pass" >repeat password</label>
        <input type="password" name="pass" id="pass" placeholder="password">
        </p> 
        {% endcomment %}

    <input type="submit" name="login" value="submit"  class="btn btn-1">
    </form>  
    </fieldset>
    <style>
        ul {
    list-style: none;
    background: rgb(30, 8, 233);
    text-align: start;
    justify-content: flex-start;
}
.errorlist{
    background-color: red;
    list-style: none;
    display: none;
}
    </style>
</section>
<script>
var page = "REGISTER";

    let s = document.querySelector(".search");
    {% comment %} s.innerHTML = ""; {% endcomment %}
    //hide cart 
    $("#hs").html("") ;
    $("#cart_n").hide();
    //hide movie 
    $(".movie").html("");
    $(".movie").hide();

    //TODO change label 
    // lab = document.getElementsByTagName('label');
    lab = document.querySelectorAll('label');

     for(let i = 0;i < lab.length;i++){
        // lab[i].classList.add("btn","btn-1","active");
        // lab[i].classList.add("btn-1");
        // lab[i].classList.add("active");
    }
    // console.log(labels)
    lab.forEach(element => {
        // element.classList.add("btn","btn-1");
        console.log(element)
    
     });     
</script>

{% endblock  %}